@import url('https://fonts.googleapis.com/css?family=Merriweather');

body{
    background-color: lightgrey;
}



.outline_box{
    background-color: white;
    border:3px solid black;
    height:175px;
    width: 100%;
    padding: 1%;
}

.purple_box{
    background-color: purple;
    height: 130px;
    width:40px;
    display: inline-block;
}

.green_box{
    background-color: green;
    height: 160px;
    width:50%;
    display:inline-block;
    margin-left: 10px;
}
.blue_circle{
    background-color: aqua;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 50px;
}

.dotted_container{
    margin-top: 10px;
    background-color: white;
    border: 3px dotted black;
    height:175px;
    width:100%;
}

.pinkish_box{
   background-color: rgb(230, 201, 165);
   height:160px;
   width:90%;
   display: inline-block;
   margin-left: 40px;
   margin-top: 5px;
   box-shadow: 1px 4px 5px rgba(73, 71, 71, 0.726);
}

.bottom_box{
    border:1px solid;
    line-height: 300px;
    text-align: center;
    background-color:rgb(240, 233, 220);
    height: 400px;
    width: 50%;
    font-family: 'Merriweather', serif;
    box-shadow: 1px 4px 5px rgba(73, 71, 71, 0.726);
    margin-left:310px;

}